* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  list-style: none;
}

:root {
  /*declara variáveis no css*/
  --cor-01: rgb(230, 57, 146);
  --cor-02: hsl(329, 100%, 85%);
  --cor-03: hsl(0, 7%, 95%);
  --cor-04: hsl(0, 0%, 4%);
  --cor-05: hsl(0, 13%, 94%);
  --cor-06: rgb(65 89 114 / 70%);
  --cor-07: rgb(213, 71, 144);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* CABEÇALHO */
.container {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container .nome {
  font-size: 40px;
  font-family: sans-serif;
  margin-left: 20px;
  color: var(--cor-05);
  margin-right: 160px;
  margin-top: 3px;
  text-shadow: -1px 3px 6px var(--cor-06);
}

#cabecalho {
  background-color: var(--cor-01);
  border-bottom: solid 10px var(--cor-02);
  margin-bottom: 30px;
  border-radius: 0 30px 0 30pxs;
}

.container {
  max-width: 1200px;
}

#cabecalho {
  background-color: var(--cor-01);
  margin-bottom: 5px;
}

.container #logo {
  width: 70px;
  margin-right: 1px;
  margin-bottom: 10px;
  margin-left: -60px;
  margin-top: 8px;
  float: left;
}

#cabecalho .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cabecalho #menu ul {
  display: flex;
}

#cabecalho #menu ul li {
  list-style: none;
}

#cabecalho #menu ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: var(--cor-03);
  transition: all 0.3s linear;
  font-family: system-ui;
  font-size: 18px;
  text-shadow: -1px 3px 6px var(--cor-06);
}

#cabecalho #menu ul li a:hover {
  background-color: var(--cor-07);
}

/* RODAPÉ */
#rodape {
  background-color: var(--cor-02);
  color: var(--cor-04);
  text-align: center;
  font-size: 13px;
  padding: 15px;
  margin-top: 30px;
}

#rodape a {
  color: var(--cor-01);
  text-decoration: none;
}

#rodape a:hover {
  text-decoration: underline;
}

/* PÁGINA INICIAL */
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.conteudo #introducao {
  background: -webkit-linear-gradient(
    120deg,
    hsl(299.63deg 83.22% 62.39%),
    hsl(326.22deg 100% 50% / 89%),
    hsl(329.19deg 100% 85.49%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 580px;
  height: 350px;
  font-size: 50px;
  font-weight: 420px;
  margin-top: 100px;
  font-family: sans-serif;
  text-align: left;
  margin-left: 70px;
}

#img-home {
  display: flex;
  width: 460px;
  height: 450px;
  margin-left: 940px;
  margin-top: -375px;
}

/* BOTÃO DA PÁGINA LIVROS */
.container #but {
  display: block;
  background-color: var(--cor-01);
  padding: 18px;
  border-radius: 20px;
  color: var(--cor-03);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  max-width: 250px;
  margin: 0 auto;
  transition: all 0.3s linear;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* PÁGINA DE LIVROS */
.books-description {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: var(--cor-03);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 43px;
  padding-right: 53px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 80px 0 80px 0;
  border: 5px solid var(--cor-05);
  box-shadow: 10px 6px 30px 1px var(--cor-02);
}

#fonte {
  font-family: Courier New, monospace;
  font-size: 13px;
  color: var(--cor-01);
}

#img {
  width: 180px;
  border-radius: 5px;
}

#titulo {
  padding-bottom: 25px;
  font-style: italic;
}

.list-books {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 58px;
  margin-top: 50px;
}

/* PÁGINA DA AUTORA */
.container #titulo-secao {
  text-align: center;
  font-size: 40px;
  font-family: ui-rounded;
  background: -webkit-linear-gradient(
    120deg,
    hsl(336.18deg 94.79% 41.07%),
    hsl(305deg 100% 85.3% / 59%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 90px;
}

#autora p {
  text-align: justify;
  margin-bottom: 15px;
  padding: 5px;
}

#autora img {
  float: left;
  margin-right: 30px;
  border-radius: 11px;
  border: 5px solid var(--cor-05);
  box-shadow: 6px 3px 10px 2px var(--cor-02);
  width: 490px;
}

/* PÁGINA DE FOTOS */
#fotos .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#fotos .container img {
  width: 100%;
  height: 210px;
  transition: all 0.3s linear;
  object-fit: cover;
  box-shadow: 2px 2px 8px 2px var(--cor-07);
  height: 270px;
}

#fotos .container img:hover {
  transform: scale(75%);
}

/* PÁGINA DA EDITORA */
#editora p {
  text-align: justify;
  margin-bottom: 15px;
  margin-right: 20px;
  padding: 3px;
  font-size: 19px;
  margin-left: 260px;
}

#editora img {
  float: left;
  margin-right: 30px;
  border-radius: 20px;
  width: 170px;
  margin-left: 60px;
}

#editora #titulo-secao {
  text-align: center;
  margin-right: 500px;
}

#banners .container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container #img1_banner {
  height: 60%;
  width: 80%;
}

.container #img2_banner {
  height: 70%;
  width: 105%;
}
